PORT=4000
MONGO_URI=mongodb://mongo:27017/hms_dev
JWT_SECRET=8a898c0b3d64fcb0094f5c036a630b1f80fe6568
JWT_EXPIRES=15m
REFRESH_EXPIRES=7d
NODE_ENV=development
generate-pwd=node -e "console.log(require('crypto').randomBytes(20).toString('hex'))"
